@import "tailwindcss";

@theme inline {
  --color-primary: #ff385c;
  --color-foreground: #222222;
  --color-foreground-light: #6a6a6a;
  --color-muted: #f7f7f7;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  .slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
  }

  .slider::-webkit-slider-thumb:active {
    transform: scale(0.95);
  }

  .slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  .slider::-moz-range-thumb:hover {
    transform: scale(1.1);
  }

  .slider::-moz-range-thumb:active {
    transform: scale(0.95);
  }
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("./assets/font/airbnb-cereal/AirbnbCereal_W_Bk.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("./assets/font/airbnb-cereal/AirbnbCereal_W_Lt.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("./assets/font/airbnb-cereal/AirbnbCereal_W_Md.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("./assets/font/airbnb-cereal/AirbnbCereal_W_Bd.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("./assets/font/airbnb-cereal/AirbnbCereal_W_XBd.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("./assets/font/airbnb-cereal/AirbnbCereal_W_Blk.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Airbnb Cereal", sans-serif;
  color: var(--color-foreground);
}
